*{
    margin: 0;
    padding: 0;
}

article {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1510134659073-54f147c0afc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
}

article button{
    font-size: 15px;
    margin: auto;
    padding: 10px 25px;
    background-color: transparent;
    border: 3px solid darkorange;
    color: darkorange;
    justify-content: center;
    align-items: center;
    transition: 900ms;
}

article button:hover{
    color: white;
    border-color: rgb(239, 236, 57);
    transform: translateY(-10px);
    box-shadow: 0px 4px 8px rgb(239, 236, 57);
}